#canvas {
    background-color: #30c0df;
    border: 2px solid black;
    display: block;
    margin: auto;
    padding: auto;
}

.blink {
    animation: blink-animation 1s steps(5, start) 2;
    -webkit-animation: blink-animation 1s steps(5, start) 2;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}